.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.slider {
  width: 50%;
  margin-top: 7px;
}

.level {
  display: inline-block;
}

.Navbar-left {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-family: Roboto;
}

.logo a {
  text-decoration: none;
  color: inherit;
}